<%- include('../layouts/header.ejs') -%>

    <div class="text-center center-div" id="login">
        <h1>
            <%= message %>
        </h1>      
    </div>

 <%- include('../layouts/footer.ejs') -%>