
 <%- include('../layouts/header.ejs') -%>

 <div class="text-center center-div" id="login">
     <div class="container w-25 border py-5">
         <div class="title">
             <h2 class="font-weight-bold">Reset your password</h2>
             <% if(typeof message !== 'undefined' ){ %>
                 <% if(message === 'Please Check your mail to reset your password' ){ %>
                     <p style="color: green;"><%= message %></p>
                 <% }else{ %>
                     <p style="color: red;"><%= message %></p>
                     <% } %> 
             <% } %>
         </div>
         <form action="" method="POST" class="pt-3">
             <div class="form-group">
                 <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
             </div>
 
             <button type="submit" class="btn btn-success rounded-pill">Send Reset Link</button>
         </form>
        
     </div>
 </div>

<%- include('../layouts/footer.ejs') -%>