
 <%- include('../layouts/header.ejs') -%>

    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title">
                <h2 class="font-weight-bold">Add New User</h2>
                <% if(typeof message !== 'undefined' ){ %>
                    <p style="color: red;"><%= message %></p>
                <% } %>
            </div>
            <form action="" method="post" enctype="multipart/form-data" class="pt-3">
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="Enter Name" required>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class="form-control" placeholder="Enter Email" required>
                </div>
                <div class="form-group">
                    <input type="text" name="mno" class="form-control" placeholder="Enter Mobile" required>
                </div>
                <div class="form-group">
                    <input type="file" name="image" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success rounded-pill">Add User</button>
            </form>
            <div>
              <a href="/admin/dashboard"><button type="submit" class="btn btn-success rounded-pill">Go Back</button></a>
            </div>
        </div>
    </div>

 <%- include('../layouts/footer.ejs') -%>