
<%- include('../layouts/header.ejs') -%>

    <div class="text-center center-div" id="login">
        <h1>Your email has been verified</h1>
        <p>Go to login page <a href="/login" style="color:#198754 ;">click here</a></p>       
    </div>

 <%- include('../layouts/footer.ejs') -%>