 <%- include('../layouts/header.ejs') -%>

    <div class="text-center center-div" id="login">
        <div class="container w-25 border py-5">
            <div class="title">
                <h2 class="font-weight-bold">Reset password</h2>
            </div>
            <form action="" method="post" class="pt-3">
                <div class="form-group">
                    <input type="password" name="password" class="form-control" placeholder="Enter new password" required>
                </div>
                <input type="hidden" name="user_id" value="<%= user_id %>">

                <button type="submit" class="btn btn-success rounded-pill">Reset Password</button>
            </form>
            
        </div>
    </div>

 <%- include('../layouts/footer.ejs') -%>